*.vcxproj*
*ts_files.list
*.sln
*.db
*.suo

*.pro.user*
*.txt.user*
moc_*.cpp
qrc_*.cpp
Makefile*
*build-*/
*.autosave
release
bin*/
*DS_Store*
*.deb
html
latex
*.pyc
*_behave_tests_temp/
*.qm
*_translations.qrc
.directory
*.o

# Idea files
*.iml
.gradle/*
.idea/*
local.properties

# MSVC files
Debug
Release
.vs
*.vcxproj*
*.sln
*_resource.rc
ts_files.list
*.VC.*
